---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	
>
	<p class="text">
		Bonjour ! Je suis Jean-José Muller, un passionné de design et de création numérique actuellement étudiant en BUT MMI, avec une spécialisation en Création Numérique. Mon parcours m'a permis de développer une approche transversale alliant créativité, stratégie de communication et technologies, tout en cultivant un intérêt particulier pour le design interactif et l'expérience utilisateur (UI/UX) ainsi que l'utilisation de CMS(Wordpress).
	</p>

	<p>
		Au fil de mes projets, j'ai eu l'occasion de concevoir des solutions graphiques, des identités visuelles et des interfaces numériques, tout en me concentrant sur l'optimisation de l’expérience utilisateur. Que ce soit pour des applications fictives comme S.T.A.R LABS, des concepts de bars thématiques comme Little Horses, ou encore des maquettes de sites web pour le Digital Cleanup Day, chaque projet est une occasion pour moi de fusionner l’aspect créatif avec l’ergonomie et l’efficience des outils numériques.
	</p>

	<p>
		Dans ce portfolio, vous découvrirez mes réalisations, mes processus de création et mon évolution en tant que designer. Chaque projet est une opportunité pour moi de repousser mes limites et de continuer à apprendre tout en mettant l'accent sur l'impact visuel et l'efficacité fonctionnelle.
	</p>


</Layout>
