---
const today = new Date();
---
<footer class="pt-8 px-4 pb-24 bg-[linear-gradient(var(--gray-gradient))] text-[rgb(var(--gray))] text-center">
    &copy; {today.getFullYear()} Your name here. All rights reserved.
    <div class="social-links flex justify-center gap-4 mt-4">
        <a 
            href="https://www.linkedin.com/in/jean-jos%C3%A9-muller-892b91276/" 
            target="_blank" 
            class="inline-block no-underline text-[rgb(var(--gray))] hover:text-[rgb(var(--gray-dark))]">
            <span class="sr-only">Follow on LinkedIn</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="-11.493675 -16.3118 99.61185 97.8708">
                <path fill="#0a66c2" d="M72.865 61.1094a1.2 1.2 0 001.21-1.269c0-.9-.543-1.33-1.657-1.33h-1.8v4.712h.677v-2.054h.832l.019.025 1.291 2.029h.724l-1.389-2.1zm-.783-.472h-.785v-1.593h.995c.514 0 1.1.084 1.1.757 0 .774-.593.836-1.314.836m-16.873-5.433h-9.6v-15.034c0-3.585-.064-8.2-4.993-8.2-5 0-5.765 3.906-5.765 7.939v15.294h-9.6v-30.916h9.216v4.225h.129a10.1 10.1 0 019.093-4.994c9.73 0 11.524 6.4 11.524 14.726zm-40.79-35.143a5.571 5.571 0 115.57-5.572 5.571 5.571 0 01-5.57 5.572m4.8 35.143h-9.61v-30.917h9.61zm40.776-55.2H4.781A4.728 4.728 0 000 4.6744v55.439a4.731 4.731 0 004.781 4.675h55.21a4.741 4.741 0 004.8-4.675V4.6704a4.738 4.738 0 00-4.8-4.67"/>
                <path fill="#0a66c2" d="M72.164 56.4114a4.418 4.418 0 10.085 0h-.085m0 8.33a3.874 3.874 0 113.809-3.938v.065a3.791 3.791 0 01-3.708 3.871h-.1"/>
            </svg>
        </a>
        <a 
            href="https://github.com/dixydres" 
            target="_blank" 
            class="inline-block no-underline text-[rgb(var(--gray))] hover:text-[rgb(var(--gray-dark))]">
            <span class="sr-only">Go to GitHub repository</span>
            <svg viewBox="0 0 16 16" aria-hidden="true" class="h-8 w-8" astro-icon="social/github">
                <path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
        </a>
    </div>
</footer>