---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-[#f3f4fa] px-4 shadow-[0_2px_8px_rgba(var(--black),0.05)]">
    <nav class="flex items-center justify-center">
        <div class="internal-links flex items-center gap-4">
            <HeaderLink href="/Portfolio">Home</HeaderLink>
            <HeaderLink href="/Portfolio/about">About</HeaderLink>
        </div>
    </nav>
</header>